
<p> Hey <%=@user.name %>, <br>
There has been an update to your Rotation! </p>


<p><%=@rotation_update.title%></p>
<p><%= @rotation_update.content%></p>


<br>
<p><%= link_to "See All Updates", rotation_rotation_updates_url(@rotation) %>



