
$white:#fbfbfb;
$light_gray: #e2e2e2;
$blue_hover: #5fa2db;
$green: #52d46a;

/* INDEX PAGE */
.left {
	float:left;
}
.right {
	float:right;
}
.clear{
	clear: both;
}
.rotation-container{
	
	.rotation{
	 width: 33%;
	 background:$white;
	 border-radius: 3px;
	 margin: 0 1% 20px;
	}

	.title{
		padding: 20px;
		margin: 0 0 20px;
		border-radius:3px 3px 0 0;
		background:$green;
		/*this is where you define individual status etc Active etc */
		.details{
		color: #407a4d;
		font-weight: 600;
		}
	}

	.info {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 20px 20px;
		.description{
			display:block;
		}
		span{
			display:inline-block;
			width:18px;
			vertical-align:middle;
		}
	}

}

/* SHOW PAGE */
.app-container{
	padding:70px 40px 60px 0;
}

.box-container{
	display:flex;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-flex-flow:row wrap;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap;
	-webkit-align-content:flex-end;
	-ms-flex-line-pack:end;
	align-content:flex-end;


	h2 {
		border-bottom:1px solid #d2d2d2;
		padding:0 0 15px;
		margin:0 0 20px;
	}

	h3 {
		font-size:1.25rem;
	}
	.box{
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    width: 48%;
    margin: 0 0 30px;
    word-wrap: break-word;

		.info {
			display: inline-block;
			vertical-align: top;
			margin: 0 20px 20px 0;
		}

	}
}

