<div id="main-menu" role="navigation">
    <div id="main-menu-inner">
            
                
        <ul class="navigation">

            <!-- Beauty -->
            <li>
                <a href="https://thenewboston.com/videos_beauty.php">
                    <i class="menu-icon fa fa-heart"></i>
                    <span class="mm-text">Beauty</span>
                </a>
            </li>
            
            <!-- Business -->
            <li>
                <a href="https://thenewboston.com/videos_business.php">
                    <i class="menu-icon fa fa-line-chart"></i>
                    <span class="mm-text">Business</span>
                </a>
            </li>
            
            <!-- Computer Science -->
            <li>
                <a href="https://thenewboston.com/videos.php">
                    <i class="menu-icon fa fa-laptop"></i>
                    <span class="mm-text">Computer Science</span>
                </a>
            </li>
            
            <!-- Cooking -->
            <li>
                <a href="https://thenewboston.com/videos_food.php">
                    <i class="menu-icon fa fa-coffee"></i>
                    <span class="mm-text">Cooking</span>
                </a>
            </li>

            <!-- Health & Medicine -->
            <li>
                <a href="https://thenewboston.com/videos_health.php">
                    <i class="menu-icon fa fa-stethoscope"></i>
                    <span class="mm-text">Health &amp; Medicine</span>
                </a>
            </li>
            
            <!-- Humanities -->
            <li>
                <a href="https://thenewboston.com/videos_humanities.php">
                    <i class="menu-icon fa fa-bank"></i>
                    <span class="mm-text">Humanities</span>
                </a>
            </li>
            
            <!-- Math -->
            <li>
                <a href="https://thenewboston.com/videos_math.php">
                    <i class="menu-icon fa fa-plus"></i>
                    <span class="mm-text">Math</span>
                </a>
            </li>
            
            <!-- Science -->
            <li>
                <a href="https://thenewboston.com/videos_science.php">
                    <i class="menu-icon fa fa-leaf"></i>
                    <span class="mm-text">Science</span>
                </a>
            </li>
            
            <!-- Social Sciences -->
            <li>
                <a href="https://thenewboston.com/videos_social.php">
                    <i class="menu-icon fa fa-graduation-cap"></i>
                    <span class="mm-text">Social Sciences</span>
                </a>
            </li>
            
                        <div class="menu-content animated fadeIn">
                <a href="https://thenewboston.com/register.php" class="btn btn-primary btn-block btn-outline dark">Create an Account</a>
            </div>
            
        </ul>

    </div>
</div>